/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
/* CSS Reset */

/* Variables */
:root {
  /* Colors */
  --blue: #13183f;
  --pink: #f74780;
  --grey: #83869a;
  --white: #fff;

  /* Color Gradients */
  --gradient-pink: linear-gradient(to top, #f02aa6, #ff6f48);
  --gradient-purple: linear-gradient(to bottom, #4851ff, #f02aa6);

  /* Font Sizes*/
  --fs-xxl: 3.5rem;
  --fs-xl: 2.5rem;
  --fs-l: 2rem;
  --fs-m: 1.5rem;
  --fs-s: 1.125rem;
  --fs-xs: 1rem;

  /* Font Weights */
  --fw-xl: 800;
  --fw-l: 700;
  --fw-m: 500;

  /* Line Heights */
  --lh-l: 150%;
  --lh-m: 120%;
}

/* Utility Classes */
/* Colors */
.white {
  color: var(--white);
}

.blue {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}

.pink {
  color: var(--pink);
}

.bg-white {
  color: var(--white);
}

.bg-blue {
  background-color: var(--blue);
}

.gradient-pink {
  background: var(--gradient-pink);
}

.gradient-purple {
  background: var(--gradient-purple);
}

/* Text Presets */
.text-preset-1 {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-xl);
  line-height: var(--lh-m);
}

.text-preset-2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-xl);
  line-height: var(--lh-m);
}

.text-preset-3 {
  font-size: var(--fs-l);
  font-weight: var(--fw-xl);
  line-height: var(--lh-m);
}

.text-preset-4 {
  font-size: var(--fs-m);
  font-weight: var(--fw-xl);
  line-height: var(--lh-m);
}

.text-preset-5 {
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
  line-height: var(--lh-l);
}

.text-preset-6 {
  font-size: var(--fs-xs);
  font-weight: var(--fw-l);
  line-height: var(--lh-l);
}

.text-preset-7 {
  font-size: var(--fs-s);
  font-weight: var(--fw-l);
  line-height: var(--lh-l);
}

/* Body */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: absolute;
  background: url(./images/image-hero-desktop.png) no-repeat;
  background-size: contain;
  top: -8.5rem;
  right: -21rem;
  width: 62rem;
  height: 62rem;
  z-index: -1;
}

/* Anchor styling */
.main-link {
  display: inline-flex;
  height: 2.5rem;
  width: 9rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10rem;
}

a {
  transition: opacity 0.25s;
}

a:hover {
  opacity: 0.5;
}

/* Header/Footer */
header,
footer {
  padding: 1.5rem 10vw;
}

header nav,
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hero */
.hero {
  padding: 4rem 10vw;
}

.hero-content {
  padding-block: 7rem;
}

.hero p {
  margin-block: 1.5rem;
  width: 29rem;
}

/* Courses */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 5.75rem 10vw 9rem;
  gap: 5.25rem 2rem;
  background: linear-gradient(to top, #f0f2ff, #fff);
}

.course-box {
  padding: 4rem 2rem 2.5rem;
  border-radius: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 1.5rem #f0f2ff;
}

.course-box img {
  width: 3.5rem;
  position: absolute;
  top: -1.75rem;
}

.course-box a {
  text-decoration: none;
  margin-top: auto;
}
